# Python
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Trained models
models/**/*.pkl
models/**/*.joblib

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

